<!doctype html>
{% load static %}
<html lang="ru" class="h-100">

{% include 'inc/inc-head.html' %}

<body class="d-flex flex-column h-100">

{% include 'inc/inc-header.html' %}

<!-- Begin page content -->
<main role="main" class="mt-3 flex-shrink-0">
    <br>
    <br>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}

</main>

{% include 'inc/inc-footer.html' %}

{% include 'inc/inc-scripts.html' %}
</body>
</html>
